   ![](http://dataanalyticsedge.com/wp-content/uploads/2018/05/img2.jpeg)

# Data Cleaning with Python

Data Cleaning is the process of transforming raw data into consistent data that can be analyzed. It is aimed at improving the content of statistical statements based on the data as well as their reliability. Data cleaning may profoundly influence the statistical statements based on the data.

We have to uderstand the difference between categorical and continuous data in the dataset and identifying the type of data.

Categorical features can only take on a limited, and usually fixed, number of possible values. For example, if a dataset is about information related to users, then you will typically find features like country, gender, age group, etc. Alternatively, if the data you're working with is related to products, you will find features like product type, manufacturer, seller and so on.
These are all categorical features in your dataset. These features are typically stored as text values which represent various traits of the observations. For example, gender is described as Male (M) or Female (F), product type could be described as electronics, apparels, food etc.

Features which have some order associated with them are called ordinal features. For example, a feature like economic status, with three categories: low, medium and high, which have an order associated with them.

There are also continuous features. These are numeric variables that have an infinite number of values between any two values. A continuous variable can be numeric or a date/time.

In this raw data, we have a categorical variables which have been encoded to Continuous variables for analysis. So, our major data cleaning task in here is to take care of the missing values and also to make sure there are no discrepancies in the encoded data.

In [1]:
import numpy as np 
import pandas as pd


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/food-choices/food_coded.csv
/kaggle/input/food-choices/codebook_food.docx

In [2]:
df = pd.read_csv('/kaggle/input/food-choices/food_coded.csv')

In [3]:
df.tail(10)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
115,3.3,2,1,610,4.0,980.0,2,"chocolate bar, ice cream, pretzels, potato chi...","Stress, boredom and physical activity",NaN,...,1.0,1.0,1,1165.0,690,Hockey,2,2,1315,150
116,3.4,1,1,610,NaN,420.0,2,"Ice cream, chocolate, pizza, cucumber","loneliness, homework, boredom",NaN,...,1.0,2.0,5,725.0,345,none,5,1,1315,170
117,3.77,1,1,610,NaN,315.0,2,"Noodle ( any kinds of noodle), Tuna sandwich, ...",When i'm eating with my close friends/ Food s...,NaN,...,1.0,2.0,5,725.0,690,"No, I don't play sport.",3,1,760,113
118,3.63,1,1,430,3.0,420.0,1,"Chinese, chips, cake",Stress and boredom,NaN,...,1.0,2.0,4,940.0,345,None,5,2,1315,140
119,3.2,2,1,610,3.0,420.0,2,"chips, rice, chicken curry,","Happiness, boredom, social event",NaN,...,1.0,1.0,5,1165.0,690,Soccer,5,2,1315,185
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [4]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

Let us start with checking the columns with missing values and dealing with them.
If we take a closer look at the data, each column must be of a certain datatype and you will find bogus data. 

We will deal with both missing values and clean the data by checking on datatypes as well.

We are creating a list of columns which have missing values followed by the number of missing values in each column

In [5]:
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]

In [6]:
for i in cols_with_missing:
    print(i,df[i].isnull().sum())

GPA 2
calories_day 19
calories_scone 1
comfort_food 1
comfort_food_reasons 1
comfort_food_reasons_coded 19
cook 3
cuisine 17
diet_current 1
drink 2
eating_changes 3
employment 9
exercise 13
father_education 1
father_profession 3
fav_cuisine 2
fav_food 2
food_childhood 1
healthy_meal 1
ideal_diet 1
income 1
life_rewarding 1
marital_status 1
meals_dinner_friend 3
mother_education 3
mother_profession 2
on_off_campus 1
persian_food 1
self_perception_weight 1
soup 1
sports 2
tortilla_calories 1
type_sports 21
weight 2

In [7]:
df.shape

(125, 61)

In [9]:
df.describe()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories
count,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,106.000000,122.000000,125.000000,108.000000,...,124.000000,124.000000,124.000000,123.000000,125.000000,124.000000,125.000000,125.000000,125.000000,125.000000
mean,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,2.698113,2.786885,2.688000,1.388889,...,2.806452,3.120968,1.217742,1.390244,3.336000,947.580645,555.040000,4.008000,1.512000,1073.400000
std,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,1.972042,1.038351,1.910987,0.974759,...,1.423824,1.115980,0.414385,0.489800,1.436528,202.090179,152.370379,1.081337,0.501867,248.667092
min,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000
25%,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,2.000000,2.000000,2.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000
50%,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,2.000000,3.000000,2.000000,1.000000,...,3.000000,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,900.000000
75%,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,3.000000,3.000000,3.000000,1.000000,...,4.000000,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000
max,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,9.000000,5.000000,9.000000,6.000000,...,5.000000,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000

We now take a clos look at the data and try to replace the missiing values using **fillna()** function. We filter down the columns with lots of missing values and manually replace them with values which is more relevant.

In [ ]:
df['calories_day'].fillna(1,inplace=True)
df['comfort_food_reasons_coded'].fillna(9,inplace=True)
df['cuisine'].fillna(6,inplace=True)
df['employment'].fillna(4,inplace=True)
df['exercise'].fillna(5,inplace=True)
df['type_sports'].fillna('Nothing',inplace=True)

Followed by that, we remove the rows with missing values.

In [ ]:
for i in cols_with_missing:
    df = df[~df[i].isnull()]

In [ ]:
df.shape

The GPA column contains float values in string format along with missing values and bogus values.

To deal with this problem we create a new column by first removing the '.'(decimal point) from the values, in order to make use of the **.isdigit()** function. This function helps you to identify if all the values in the string are digits. 

https://www.geeksforgeeks.org/python-pandas-series-str-isdigit/

In [ ]:
df['GPA'].value_counts()

In [ ]:
df.dropna(subset=['GPA'],inplace=True)
df['GPA_new'] = df['GPA'].str.replace(".","")
df = df[~df['GPA_new'].str.isdigit() == False]
df['GPA'] = df['GPA'].astype(float)
df.drop('GPA_new',axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

We use **value_counts()** function to check whether the column values are legit.

In [ ]:
df['Gender'].value_counts()

In [ ]:
df['breakfast'].value_counts()

In [ ]:
df['calories_chicken'].value_counts()

In [ ]:
df['calories_day'] = df['calories_day'].astype(int)
df['calories_day'].value_counts()

In [ ]:
df['calories_scone'] = df['calories_scone'].astype(int)
df['calories_scone'].value_counts()

In [ ]:
df['coffee'].value_counts()

In [ ]:
df['comfort_food'].value_counts()

In [ ]:
df['comfort_food_reasons'].value_counts()

In [ ]:
df['comfort_food_reasons_coded'].value_counts()

In [ ]:
df['cook'].value_counts()

In [ ]:
df['cuisine'].value_counts()

In [ ]:
df['diet_current'].value_counts()

In [ ]:
df['diet_current_coded'].value_counts()

In [ ]:
df['drink'].value_counts()

In [ ]:
# df['eating_changes'].value_counts()

In [ ]:
df['eating_changes_coded'].value_counts()

In [ ]:
df['eating_changes_coded1'].value_counts()

In [ ]:
df['eating_out'].value_counts()

In [ ]:
df['employment'].value_counts()

In [ ]:
df['ethnic_food'].value_counts()

In [ ]:
df['exercise'].value_counts()

In [ ]:
df['father_education'].value_counts()

In [ ]:
# df['father_profession'].value_counts()

In [ ]:
df['fav_cuisine'].value_counts()

In [ ]:
df['fav_cuisine_coded'].value_counts()

In [ ]:
# df['fav_food'].value_counts()

In [ ]:
# df['food_childhood'].value_counts()

In [ ]:
df['fries'].value_counts()

In [ ]:
df['fruit_day'].value_counts()

In [ ]:
df['grade_level'].value_counts()

In [ ]:
df['greek_food'].value_counts()

In [ ]:
df['healthy_feeling'].value_counts()

In [ ]:
# df['healthy_meal'].value_counts()

In [ ]:
# df['ideal_diet'].value_counts()

In [ ]:
df['ideal_diet_coded'].value_counts()

In [ ]:
df['income'].value_counts()

In [ ]:
df['indian_food'].value_counts()

In [ ]:
df['italian_food'].value_counts()

In [ ]:
df['life_rewarding'] = df['life_rewarding'].astype(int)
df['life_rewarding'].value_counts()

In [ ]:
df['marital_status'] = df['marital_status'].astype(int)
df['marital_status'].value_counts()

In [ ]:
# df['meals_dinner_friend'].value_counts()

In [ ]:
df['mother_education'] = df['mother_education'].astype(int)
df['mother_education'].value_counts()

In [ ]:
# df['mother_profession'].value_counts()

In [ ]:
df['nutritional_check'].value_counts()

In [ ]:
df['on_off_campus'] = df['on_off_campus'].astype(int)
df['on_off_campus'].value_counts()

In [ ]:
df['parents_cook'].value_counts()

In [ ]:
df['pay_meal_out'].value_counts()

In [ ]:
df['persian_food'] = df['persian_food'].astype(int)
df['persian_food'].value_counts()

In [ ]:
df['self_perception_weight'] = df['self_perception_weight'].astype(int)
df['self_perception_weight'].value_counts()

In [ ]:
df['soup'] = df['soup'].astype(int)
df['soup'].value_counts()

In [ ]:
df['sports'] = df['sports'].astype(int)
df['sports'].value_counts()

In [ ]:
df['thai_food'].value_counts()

In [ ]:
df['tortilla_calories'] = df['tortilla_calories'].astype(int)
df['tortilla_calories'].value_counts()

In [ ]:
df['turkey_calories'].value_counts()

In [ ]:
df['type_sports'].value_counts()

In [ ]:
df['veggies_day'].value_counts()

In [ ]:
df['vitamins'].value_counts()

In [ ]:
df['waffle_calories'].value_counts()

The weight column can be cleaned by using **isdigit()** function.

In [ ]:
df['weight'].value_counts()

In [ ]:
df = df[df['weight'].str.isdigit()]

In [ ]:
df.shape

After a full fledged cleanup we have a clean dataframe which can be used for analysis.